/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}
body .hidden {
  display: none;
}
body .open {
  display: block;
}
body .close {
  display: none;
}
body .style {
  grid-column: 1/3;
  border-top: 1px solid;
}
body .border-right {
  border-right: 1px solid;
  display: flex;
  column-gap: 4em;
  padding-top: 2vh;
}
body header {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  height: 15vh;
}
body header section:first-of-type {
  display: flex;
  column-gap: 4em;
  padding-top: 2vh;
}
body header section:first-of-type button {
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  justify-self: left;
  padding-left: 0.5em;
}
body header section:first-of-type figure {
  justify-self: center;
}
body main {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  height: 100vh;
}
body main aside {
  border-right: 1px solid;
  padding-top: 6vh;
  padding-left: 1vw;
}
body main aside nav h2 {
  font-weight: bold;
  font-size: 1.6em;
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-family: "Montserrat", sans-serif;
}
body main aside nav h2 span .bi-caret-down.close::before {
  content: "\f22c";
}
body main aside nav h2 span .bi-caret-down.open::before {
  content: "\f238";
}
body main aside nav ul li {
  padding-bottom: 1vh;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
}
body main section {
  border-top: 1px solid;
}
body main section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #0077b6;
  font-weight: 700;
  margin-bottom: 4rem;
}
body main section section:first-of-type {
  border: none;
}
body main section section:first-of-type .add-btn {
  background-color: #023E8A;
  color: white;
  padding: 0.7rem 1.2rem;
  margin-bottom: 10vh;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
body main section section:last-of-type {
  border: none;
}

/*# sourceMappingURL=style.css.map */
